    <div style="display:block">
    <h2><%= name %></h2>
    <p>Product Description: <%= description %></p>
    <p>Product Price: <%= price %></p>
    <input type="hidden" value="<%= id %>" name="id"></hidden>
    <script type="text/javascript" src="/js/index.js"></script>
    <button type="submit" id="productAdd" onclick='addProduct("<%= id %>")'>Add to Cart</button>
    </div>

